<app-navbar></app-navbar>
<div class="min-h-screen bg-gray-100">
    <div class="flex flex-col items-center">
        <div class="bg-white max-w-2xl shadow overflow-hidden sm:rounded-lg mt-3">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 text-gray-700">
                    Olá, {{user?.name}}
                </h3>
            </div>
            <div class="border-t border-gray-200">
                <dl>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Nome completo
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{user?.name}}
                        </dd>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Email
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{user?.email}}
                        </dd>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Sobre
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{user?.bio}}
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="flex flex-col items-center p-4">
                <div>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#e8eaed">
                            <path
                                d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr class="m-5">
    <div class="m-3 p-3 flex flex-col items-center">
        <h2 class="text-sky-800 text-lg my-3">
            Minhas Receitas
        </h2>
        <div class="grid grid-cols-3 gap-4">
            <div (click)="toggleNewRecipeForm()"
                class="box-border border-dashed border-sky-500 border-2 hover:border-sky-700 hover:border-3 rounded-lg h-48 w-80 p-6 cursor-pointer">
                <div class="grid grid-cols-1">
                    <div class="flex flex-col items-center pt-7">
                        <div class="col-span-2 mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px"
                                fill="#5985E1">
                                <path
                                    d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
                            </svg>
                        </div>
                        <div class="col-span-4">
                            <p class="font-semibold">Nova Receita</p>
                        </div>
                    </div>
                </div>
            </div>
            @for (recipe of recipes; track recipe.id) {
            <!-- Exemplo de receita existente -->
            <div
                class="box-border border-solid border-sky-500 border-2 hover:border-sky-700 hover:border-3 rounded-lg h-48 w-80 p-6 cursor-pointer m-0">
                <div class="grid grid-cols-1">
                    <div class="flex flex-col items-center pt-7">
                        <div class="col-span-2 mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px"
                                fill="#5985E1">
                                <path
                                    d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm40-80h480L570-480 450-320l-90-120-120 160Zm-40 80v-560 560Z" />
                            </svg>
                        </div>
                        <div class="col-span-4">
                            <p class="text-center font-semibold">{{recipe.name}}</p>
                        </div>
                        <div class="grid grid-cols-2 gap-1">
                            <div>
                                {{recipe.difficulty}}
                            </div>
                            <div>
                                {{getCategoryName(recipe.category_id)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            <!-- Formulário de nova receita -->
            <div *ngIf="showNewRecipeForm"
                class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
                <div class="bg-sky-800 p-6 rounded-lg shadow-lg text-white">
                    <h2 class=" text-xl text-center mb-4">Criar Nova Receita</h2>
                    <hr class="border border-3 m-3">
                    <form (ngSubmit)="submitNewRecipe()">
                        <div class="mb-4">
                            <label for="recipeName" class="block  text-sm text-lg mb-2">Nome da
                                Receita</label>
                            <input type="text" id="recipeName" [(ngModel)]="newRecipe.name" name="recipeName"
                                class="shadow appearance-none border rounded w-96 py-2 px-3 text-sky-600 leading-tight focus:outline-none focus:shadow-outline "
                                required>
                        </div>
                        <div class="mb-4">
                            <label for="recipePreparationTime" class="block text-sm text-lg mb-2">Tempo
                                de
                                Preparação</label>
                            <input type="text" id="recipePreparationTime" [(ngModel)]="newRecipe.preparation_time"
                                name="recipePreparationTime"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-sky-600 leading-tight focus:outline-none focus:shadow-outline"
                                required>
                        </div>
                        <div class="mb-4">
                            <label for="recipeDifficulty" class="block  text-sm text-lg mb-2">Dificuldade</label>
                            <select id="recipeDifficulty" [(ngModel)]="newRecipe.difficulty" name="recipeDifficulty"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-sky-600 leading-tight focus:outline-none focus:shadow-outline"
                                required>
                                <option *ngFor="let difficulty of difficulties" [value]="difficulty">{{difficulty}}
                                </option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="recipeCategory" class="block  text-sm text-lg mb-2">Categoria
                                Principal</label>
                            <select id="recipeCategory" [(ngModel)]="newRecipe.category_id" name="recipeCategory"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-sky-600 leading-tight focus:outline-none focus:shadow-outline"
                                required>
                                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}
                                </option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="recipeDescription" class="block  text-sm text-lg mb-2">Descrição</label>
                            <textarea id="recipeDescription" [(ngModel)]="newRecipe.description"
                                name="recipeDescription"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-sky-600 leading-tight focus:outline-none focus:shadow-outline"
                                required></textarea>
                        </div>
                        <div class="mb-4">
                            <label for="recipeInstructions" class="block  text-sm text-lg mb-2">Instruções
                                de Preparo</label>
                            <textarea id="recipeInstructions" [(ngModel)]="newRecipe.instructions"
                                name="recipeInstructions"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-sky-600 leading-tight focus:outline-none focus:shadow-outline"
                                required></textarea>
                        </div>
                        <div class="grid grid-cols-2 gap-4 items-center justify-between">
                            <button type="submit"
                                class="outline outline-2 outline-blue-500 hover:bg-blue-700 text-white text-lg py-2 px-4 rounded focus:outline-none focus:shadow-outline">Salvar</button>
                            <button type="button" (click)="toggleNewRecipeForm()"
                                class="outline outline-2 outline-pink-500 hover:bg-pink-700 text-white text-lg py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>