<app-navbar></app-navbar>
<div class="flex justify-center">
    <div class="m-3 p-3 flex flex-col items-center">
        <h2 class="text-sky-800 text-3xl my-7 p-3">
            Receitas em Destaque
        </h2>
        <div class="grid grid-cols-3 gap-4">
            <div
                class="box-border border-solid border-sky-500 border-2 hover:border-sky-700 hover:border-3 rounded-lg h-48 w-80 p-6 cursor-pointer m-0">
                <div class="grid grid-cols-1">
                    <div class="flex flex-col items-center pt-7">
                        <div class="col-span-2 mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px"
                                fill="#5985E1">
                                <path
                                    d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
                            </svg>
                        </div>
                        <div class="col-span-4">
                            <p class="font-semibold">Receita</p>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="box-border border-solid border-sky-500 border-2 hover:border-sky-700 hover:border-3 rounded-lg h-48 w-80 p-6 cursor-pointer m-0">
                <div class="grid grid-cols-1">
                    <div class="flex flex-col items-center pt-7">
                        <div class="col-span-2 mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px"
                                fill="#5985E1">
                                <path
                                    d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
                            </svg>
                        </div>
                        <div class="col-span-4">
                            <p class="font-semibold">Receita</p>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="box-border border-solid border-sky-500 border-2 hover:border-sky-700 hover:border-3 rounded-lg h-48 w-80 p-6 cursor-pointer m-0">
                <div class="grid grid-cols-1">
                    <div class="flex flex-col items-center pt-7">
                        <div class="col-span-2 mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px"
                                fill="#5985E1">
                                <path
                                    d="M446.67-446.67H200v-66.66h246.67V-760h66.66v246.67H760v66.66H513.33V-200h-66.66v-246.67Z" />
                            </svg>
                        </div>
                        <div class="col-span-4">
                            <p class="font-semibold">Receita</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>